<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cn.cloudworkshop.seller">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <meta-data
            android:name="cn.cloudworkshop.seller.utils.GlideConfiguration"
            android:value="GlideModule"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.cloudworkshop.seller.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                tools:replace="android:resource"
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity"
                  android:launchMode="singleTask"/>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.WalletActivity"/>
        <activity android:name=".ui.OrderActivity"/>
        <activity android:name=".ui.SetUpActivity"/>
        <activity android:name=".ui.StockActivity"/>
        <activity
            android:name=".ui.AddStockActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"/>
        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"/>
        <activity android:name=".ui.DistributeActivity"/>
    </application>



</manifest>